@font-face {
  font-family: "iconfont"; /* Project id 3789546 */
  src: url('iconfont.woff2?t=1673595275707') format('woff2'),
       url('iconfont.woff?t=1673595275707') format('woff'),
       url('iconfont.ttf?t=1673595275707') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitian:before {
  content: "\e635";
}

.icon-qq:before {
  content: "\e609";
}

.icon-shouye:before {
  content: "\e619";
}

.icon-24gl-phoneLoudspeaker:before {
  content: "\e94f";
}

