@font_size_small: 14px;
@font_size_middle: 16px;
@font_size_large: 26px;
@font_grey_color: #768190;
@font_blue_color: #3895FF;
@font_pageTitleBlue_color: #0C53FF;
@font_pageButtonBlue_color: #2A82E4;
@font_pageWordGrey_color: #898989;

.pageTitle() {
  font-size: @font_size_large;
  color: @font_pageTitleBlue_color;
}
.pageSubTitle() {
  margin-top: 2vh;
  font-size: @font_size_small;
  color: @font_grey_color;
}
.pageWordDes() {
  margin-top: 5vh;
  font-size: @font_size_small;
  color: @font_pageWordGrey_color;
}