<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chennq.sys.mapper.settings.RoleSettingsMapper">
    <select id="queryRolePer" resultType="com.chennq.sys.entity.settings.SysMenu">
        SELECT
            m.*
        FROM
            tf_sys_role_menu rm
                LEFT JOIN tf_sysmenu m ON rm.menu_id = m.id
        WHERE
            role_id = #{id}
    </select>

    <insert id="batchSaveRoleMenu" parameterType="com.chennq.sys.entity.settings.dto.ChangeRolePerDto">
        INSERT INTO tf_sys_role_menu ( role_id, menu_id )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId},#{item.id})
        </foreach>
    </insert>

    <delete id="batchDeleteRoleMenu" parameterType="com.chennq.sys.entity.settings.dto.ChangeRolePerDto">
        DELETE FROM tf_sys_role_menu WHERE ( role_id, menu_id ) IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            (#{item.roleId},#{item.id})
        </foreach>
    </delete>
</mapper>
